
@media only screen and (min-width : 0px) and (max-width : 1000px) {
  body {
    line-height: 1.5em;
  }

  #contacts {
    font-size: 1em;
    padding: 3px;
  }
  
    ol {
      margin: 0px 1em 0px 1em;
    }
  
  }