body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  overflow-x: hidden;
}

#name {
  text-align: center;
  font-size: 5em;
  float: unset;
  padding: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width : 0px) and (max-width : 768px) {
  body {
    background-image: url('../img/bg4_crop.png');}
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url('../img/bg4.png');}
}