#contacts {
  text-align: center;
  font-size: 3em;
  float: unset;
  padding: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

#tg {
  text-align: center;
}







ol {
  list-style: none;
  counter-reset: awesome-counter;
  list-style-position: inside;
  padding-left: 1em;
  text-indent: -2em;

}

li {
  counter-increment: awesome-counter;
}

li::before {
  content: counter(awesome-counter);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 1rem;
  color: white;
  text-align: center;
  margin-right: 1rem;
  position: relative;
  text-indent: 0em;

}

#engineer {
  margin: auto;
}


.workposition {
  text-align: center;
  display: inline;
}


li.eng::before {
  background: #5b67d7;
}

ol ol li.eng::before {
  background: #5bd7cb;
}

li.linepic::before {
  background: #4dcb47;
}

li.prod::before {
  background: #ff4e4e;
}

ol ol li.prod::before {
  background: #fea3a3;
}


li.edu::before {
  background: #fdaa10;
}

ol ol li.edu::before {
  background: #fbff00;
}

@media only screen and (min-width: 1000px) {

  body {
    margin: 0px 100px 0px 100px;
    line-height: 1.8em;
  }

  #contacts {
    font-size: 20em;
    padding: 3px;
  }



  #work {
    background-color: rgba(255, 255, 255, 0.578);
    border-style: double;
    border-radius: 10px;
    padding: 10px 40px 40px 20px;
    margin: 0px 0px 0px 0px;
  }

  #header {
    text-align: center;
  }

  ol {
    margin: 20px 100px 20px 50px;
  }
}


@media only screen and (min-width : 0px) and (max-width : 1000px) {
  body {
    line-height: 1.5em;
  }

  #contacts {
    font-size: 1em;
    padding: 3px;
  }

  ol {
    margin: 0px 1em 0px 1em;
  }

}