/* General */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

#name {
  text-align: center;
  font-size: 5em;
  float: unset;
  padding: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Progress Bar */
.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

/* Navbar */
.navbar {
  z-index: 1;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Mobile */
@media only screen and (min-width : 0px) and (max-width : 768px) {
  body {
    background-image: url('../img/bg4_crop.png');
  }
}

/* PC */
@media only screen and (min-width: 768px) {
  body {
    background-image: url('../img/bg4.png');
  }
}